<% @title = "Create New Station" %>

<div class="form">
  <h1>Create a New Station</h1>
  <form method="POST" action="/stations">
    <input type="text" name="station[name]" value="Name" onclick='this.value = "";'>
    <select class="form_dropdown" name="station[city_id]">
      <option selected="selected" value="">-Select City-</option>
      <% @cities.sort_by(&:name).each do |city| %>
        <option value="<%= city.id %>"><%= city.name.upcase %></option>
      <% end %>
    </select>
    <input type="integer" name="station[dock_count]" value="Dock Count" onclick='this.value = "";'>
    <input type="date" name="station[installation_date]" value="Installation Date" onclick='this.value = "";'>
    <input type="submit" value="Create Station">
  </form>
</div>

<a href="../../cities/new.erb">Add a New City</a>
