<% @title = "#{@station.name}" %>

<div class="show-station">
  <h1><%= @station.name %></h1>
  <ul>
    <li>Number of bike docks: <%= @station.dock_count %></li>
    <li>City: <%= @station.city.name %></li>
    <li>Established: <%= @station.installation_date %></li>
  </ul>
</div>