<% @title = "San Francisco Bike Share" %>

<h1 id="landing-header" class="page-header">Welcome to the San Francisco Bike Share</h1>

<div class="row">
<div>
  <div class="col-md-4">
    <a id="dash-link" href="/station-dashboard"<h2>Stations</h2></a></br>
      <h3 id="landing-text">
        </br>Click here to see stats, locations, and bike availability for every station in the greater San Francisco area.</br></br>
      </h3>
  </div>
  </div>
  <div>
  <div class="col-md-4">
    <a id="dash-link" href="/trip-dashboard"<h2>Trips</h2></a></br>
      <div id="landing-text"><h3>
        </br>Check out our data on users' trips, including where the user is from, how long the user borrowed the bike, and more.</br></br>
      </h3></div>
  </div>
  </div>
  <div>
  <div class="col-md-4">
    <a id="dash-link" href="weather-dashboard"<h2>Weather</h2></a></br>
      <h3 id="landing-text"></br>Dive deeper into the weather factor, and see how it affects users' biking habits.</br></br></br></h3>
  </div>
</div>
</div>
