<% @title = "San Francisco Bike Share App Landing Page" %>

<div>
  <h1>Welcome,</h1>
  <p>This is the San Francisco Bay Area bike share app.</p>
</div>

<a class="dashboard_links" href="/station-dashboard">
  <h2>Station<br />Dashboard</h2>
  <p>Brief description</p>
</a>

<a class="dashboard_links" href="/trip-dashboard">
  <h2>Trip<br />Dashboard</h2>
  <p>Brief description</p>
</a>

<a class="dashboard_links" href="/weather-dashboard">
  <h2>Weather<br />Dashboard</h2>
  <p>Brief description</p>
</a>
